{% extends 'base.html' %}
{% load static %}
{% block title %}alexa{% endblock title %}

{% block main-content %}

<div class="container">
<div class="card" style="width:100%;height:400px;">
	<br><br><br>
<center>
<h4>Feature Settings</h4>
<b>Alexa wakeword</b>
<p>Allows you to simply say,"Alexa" to begin voice shopping in the Armani app.</p>
<b>Amit ji wakeword</b>
<p>You have not purchased the Amit ji voice experience. Learn more about this feature.</p>
</center>
</div>
</div>



{% endblock main-content %}