{% extends 'base.html' %}
{% load static %}
{% block title %}country and language{% endblock title %}

{% block main-content %}

<div class="container">
	<div class="card" style="width:100%;height:1800px;">
  <div class="card-body">
  	<br><br>
<p>Armani provides the ability to shop in multiple countries.Please select a store to begin shopping.</p>
<p>When changing stores, the new store will open in your mobile browser. The selection will not be applied to the mobile app.</p>
<h3>Select a Country below:</h3><hr width="28%">
<a href="#">United Arab Emirates(English)-Armani.ae</a><hr>
<a href="#">United Kingdom(English)-Armani.co.uk</a><hr>
<a href="#">Germany(Deutsch)-Armani.de</a><hr>
<a href="#">Germany(English)-Armani.de</a><hr>
<a href="#">Germany(Netherlands)-Armani.de</a><hr>
<a href="#">Germany(Polski)-Armani.de</a><hr>
<a href="#">Germany(Turke)-Armani.de</a><hr>
<a href="#">Germany(Cestina)-Armani.de</a><hr>
<a href="#">Italy(italiano)-Armani.it</a><hr>
<a href="#">Sweden(svenska)-Armani.se</a><hr>
<a href="#">Saudi Arabia(English)-Armani.sa</a><hr>
<a href="#">China(chinese)-Armani.cn</a><hr>
<a href="#">Mexico(espanol)-Armani.com.mx</a><hr>
<a href="#">Australia(English)-Armani.com.au</a><hr>
<a href="#">Canada(English)-Armani.ca</a><hr>
<a href="#">Canada(francais)-Armani.ca</a><hr>
<a href="#">Singapore(English)-Armani.sg</a><hr>
<a href="#">Netherlands(nederlands)-Armani.nl</a><hr>
<a href="#">Turkey(turkce)-Armani.com.tr</a><hr>
<a href="#">Brazil(portugese)-Armani.com.br</a><hr>
<a href="#">Egypt(English)-Armani.eg</a><hr>
<a href="#">Poland(polski)-Armani.pl</a><hr>
<a href="#">India(English)-Armani.in</a><hr>
<a href="#">India(Hindi)-Armani.in</a><hr>
<a href="#">India(Tamil)-Armani.in</a><hr>
<a href="#">India(kannada)-Armani.in</a><hr>
<a href="#">India(telugu)-Armani.in</a><hr>
<a href="#">India(marati)-Armain.in</a><hr>
</ul>
</div>
</div>
</div>





{% endblock main-content %}