{% extends 'base.html' %}
{% load static %}
{% block title %}notifications{% endblock title %}

{% block main-content %}
<div class="container">
<div class="card" style="width:100%;height:550px;">
	<br><br><br>
<h4>Notifications</h4>
<p>Receive push notifications on your devices about your packages</p>
<b>Your Account</b>
<p>Get notified for account alerts</p>
<b>Your Shipments</b>
<p>Find out when packages ship and arrive</p>
<b>Recommendations for you</b>
<p>Get recommendations and offers tailored for you.</p>
<b>Your watched and waitlisted deals</b>
<p>Find out when lightning deals happen</p>
<b>Alexa shopping community</b>
<p>Get helpful links while you shop with alexa</p>
<b>Your Armani Community</b>
<p>Receive updates from customer Q&A, Reviews,Follow, and more.</p>
</div>
</div>



{% endblock main-content %}
